/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #c4b76c;
  --bluer: #235a97;
  --clear-blue: #719af4;
  --grey0: #fcfcfc;
  --grey1: #f7f7f7;
  --grey2: #f1f1f1;
  --brown:#7c694e;

  --text-color: #333;
}

body {
  font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

/*Bar de navigation*/
#contact-band{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--brown);
  color:var(--grey0)
}
#contact-band a{
  color:var(--grey0)
}
header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  
  z-index: 10;
  background-color: var(--blue);
}
#nav-bar {
  order: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  z-index: 10;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  opacity: 0.5;
}
#iconeTDG {
  max-width: 100px;
  height: auto;
}
/*section generique*/
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--blue);
  color: white;
  line-height: 1.6;
}

/*titre secondaire*/
h1 {
  font-size: 2rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
h2{
  margin-top: 5vh;
}

/*Section intro*/
#intro img {
  width: 100vw;
}

/*Section navigation*/
#navigation {
  background-color: var(--grey1);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#navigation div {
  height: 70vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
#navigation i {
  font-size: 15vh;
  margin-left: 30%;
  align-self: flex-start;
}
.button-link {
  padding: 4vh;
  width: 25vh;
  text-align: center;
  text-decoration: none;
  background: var(--grey0);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-weight: 500;
}

/*Section Contact*/
#contact {
  flex-direction: column;
  background-color: var(--grey1);
  color: var(--text-color);
}
#contact-wraper {
  margin-top: 25vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}
#contact-wraper p {
  margin: 1vw;
}
#mail {
  color: #333;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 6vw;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #3b5998;
  color: white;
  font-size: 3vw !important;
}
.fa:hover {
  opacity: 0.7;
}
/*Section acces*/
#acces {
  height: 200vh;
}
#acces img {
  max-width: 80vw;
  max-height: 80vh;
}

/*Section pépinière*/
#pepiniere {
  height: 200vh;
  background-color: var(--grey1);
  color: var(--text-color);
}
#pepiniere div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pepiniere p {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

#pepiniere img {
  max-width: 60vw;
  max-height: 60vh;
}
/*Section frutiers*/
#fruitiers {
  height: 250vh;
  background-color: var(--grey1);
  color: var(--text-color);
}
#fruitiers p {
  margin-top: 5vh;
  
  margin-left: 20vw;
  margin-right: 20vw;
}
#fruitiers li {
  margin-left: 30vw;
  margin-right: 20vw;
}
#fruitiers img {
  max-width: 80vw;
  max-height: 80vh;
}
table,
th,
td {
  border: 1px solid black;
}
table{
  margin-left: 10vw;
  margin-right: 10vw;
}
/*Section Osier*/
#osier {
  height: 300vh;
  background-color: var(--grey1);
  color: var(--text-color);
}
#osier p{
  margin-left:20vw;
  margin-right: 20vw;
}
#osier img {
  max-width: 80vw;
  max-height: 80vh;
  margin: 2vh;
}
/*Section Stage*/
#stages {
  height: 235vh;
  background-color: var(--grey1);
  color: var(--text-color);
}
#stages p{
  margin-left:20vw;
  margin-right: 20vw;
}
#stages img {
  max-width: 80vw;
  max-height: 80vh;
  margin: 2vh;
}
/*footer*/
footer {
  text-align: center;
}
footer a {
  color: var(--text-color);
}
