<header>
    <div id="contact-band">
        <p><i class="fa fa-solid fa-phone"></i> 06 75 26 81 07</p>
        <a id="mail" href="mailto:galileehm@gmail.com"><i class="fa fa-solid fa-envelope"></i>galileehm@gmail.com</a>
    </div>
    <div id="bande-nav">
        <nav id="nav-bar">
            <a class="nav-link" href="/">
                <p id="titre_nav">PÉPINIÈRE GALILÉE</p>
            </a>
            <a class="nav-link" href="/la-pepiniere"><strong>La Pépinière</strong>
            </a>
            <a class="nav-link" href="/fruitiers"><strong>Les Fruitiers</strong>
            </a>
            <a class="nav-link" href="/osier-et-vannerie"><strong>Osier et Vannerie</strong></a>
            <a class="nav-link" href="/stages"><strong>Les Stages</strong></a>
            <a class="nav-link" href="/contact"><strong>Contact</strong></a>
            <a class="nav-link" href="/acces"><strong>Accès</strong></a>
        </nav>
    </div>

    <div class="mobile-container">
        <!-- Top Navigation Menu -->
        <div class="topnav">
            <a class="nav-link" href="/">
                <p id="titre_nav">PÉPINIÈRE GALILÉE</p>
            </a>
            <div id="myLinks">
                <a class="nav-link" href="/la-pepiniere"><strong>La Pépinière</strong>
                </a>
                <a class="nav-link" href="/fruitiers"><strong>Les Fruitiers</strong>
                </a>
                <a class="nav-link" href="/osier-et-vannerie"><strong>Osier et Vannerie</strong></a>
                <a class="nav-link" href="/stages"><strong>Les Stages</strong></a>
                <a class="nav-link" href="/contact"><strong>Contact</strong></a>
                <a class="nav-link" href="/acces"><strong>Accès</strong></a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</header>